@import url("https://fonts.cdnfonts.com/css/futura-pt");
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,800&display=swap");
@import url('https://fonts.cdnfonts.com/css/dancing-script');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Futura PT";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
