@import url("https://fonts.cdnfonts.com/css/dancing-script");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura PT";
  src: url("../public/fonts/Futura/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../public/fonts/Futura/FuturaPT-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../public/fonts/Muli/Muli-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../public/fonts/Muli/Muli-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Futura PT";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
